@font-face {
    font-family: 'Dela Gothic One';
    src: local('Inter Bold'), url(./assets/fonts/dela.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Condensed';
  src: local('Roboto Condensed'), url(./assets/fonts/RobotoCondensed-Bold.ttf) format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: local('Roboto Condensed'), url(./assets/fonts/RobotoCondensed-Regular.ttf) format('truetype');
  font-weight: normal;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto Condensed", sans-serif;
}

h1 { 
  font-family: 'Dela Gothic One';
  font-size: 64px;
  line-height: 91.8%;
  font-weight: normal;
}

h2 {
  font-family: 'Dela Gothic One';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
}

a {
  text-decoration: none;
}

button {
  font-family: "Roboto Condensed", sans-serif;
}

.content {
  max-width: 1440px;
  margin: auto;
  position: relative;
}

.bg {
  max-width: 1440px;
  margin: auto;
  position: relative;
}
  
.bg__wrapper {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 734px;
  background: url(./assets/images/header__bg.svg);
  background-position: left top;
  background-repeat: no-repeat;
  z-index: -1;
  .bg__overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 734px;
    background: url(./assets/images/header__bg-overlay.svg);
  }
  .bg__image {
    position: absolute;
    right: -115px;
    bottom: -111px;
    width: 1200px;
    height: 507px;
    background: url(./assets/images/3dcombine.png);
  }
}

.header__content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px 100px;
}

.header__logo {
  font-size: 24px;
  font-family: "Dela Gothic One", sans-serif;
  color: #fff;
}

.header__left-side {
  display: flex;
  gap: 14px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

.header__logo-info-box {
  padding: 4px 12px;
  border-radius: 58px;
  background: #3E6FEC;
  height: fit-content;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
}

.header__nav {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.header__nav-item {
  color: white;
  opacity: .66;
  font-weight: bold;
  cursor: pointer;
  transition: all .3s;
}

.header__nav-item:hover {
  opacity: 1;
}

.hero__socials {
  .hero__socials-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;
    gap: 10px;
    margin: 0px;
    padding: 0px;
  }
  .hero__socials-item {
    font-weight: bold;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.42);
    border-radius: 15px;
    color: white;
    gap: 5px;
    display: flex;
    flex-direction: row;
    padding: 6px 10px;
    margin: 0px;
  }
  .hero__socials-item img {
    width: 15px;
    height: 15px;
  }
}

.hero__wrapper {
  padding: 0px 100px;
  min-height: 483px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}

.hero__title {
  max-width: 557px;
  line-height: 91.8%;
  color: #fff;
  margin: 0px;
  padding: 0px;
}

.hero__subtitle {
  max-width: 554px;
  line-height: 19px;
  color: #ABC0F7;
  margin: 0px;
  padding: 0px;
  strong {
    font-weight: bold;
    color: #fff;
  }
}

.hero__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 220px;
  min-height: 49px;
  background: linear-gradient(180deg, #FFE600 0%, #EBFF00 100%);
  box-shadow: 4px 4px 30px rgba(204, 208, 0, 0.67);
  border-radius: 5px;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: -0.04em;
  color: #3D3D3D;
  margin-top: 15px;
  transition: all .3s;
}

.hero__button:hover {
  opacity: .9;
  transform: translateY(-1px);
}

.hero__button:active {
  opacity: .9;
  transform: translateY(2px);
  box-shadow: 0 0 0px 3px rgb(204 208 0 / 23%);
}

.hero__button:focus {
}

.delivery {
  margin-top: 357px;
  min-height: 777px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

.delivery__title {
  max-width: 392px;
  line-height: 80%;
  color: #252525;
  margin: 0px;
  padding-bottom: 25px;
}
.delivery__subtitle {
  max-width: 492px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: rgba(37, 37, 37, 0.66);
  margin: 0px;
  strong {
    color: #252525;
  }
}


.delivery__bg {
  background: url(./assets/images/delivery-bg.svg);
  position: absolute;
  background-position: top right;
  background-size: contain;
  right: 0px;
  top: 0px;
  width: 517px;
  height: 777px;
}

.delivery__bg-box {
  background: url(./assets/images/delivery.png);
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: left center;
}

.slider__arrow {
  width: 73px;
  height: 46px;
  background: #EBF0FD;
  border: 6px solid #FFFFFF;
  border-radius: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.slider__arrow-disabled {
  display: none;
}

.slider__arrow-left {
  transform: rotateY(180deg);
  left: -37px;
  position: absolute;
  z-index: 1;
}
.slider__arrow-right {
  position: absolute;
  right: -45px;
  z-index: 1;
}

.delivery__slider {
  margin: 0px !important;
  padding: 0px !important;
  max-width: 731px;
  min-height: 220px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.delivery__slide-title {

}

.delivery__slide-text {

}

.delivery__slide-avatar {
  box-shadow: 0px 4px 9px #2461FF;
  border-radius: 5px;
  overflow: hidden;
  width: 54px;
  height: 54px;
}

.delivery__slider-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: #0040E6;
  box-shadow: 0px 4px 27px rgba(39, 99, 255, 0.29);
  border-radius: 10px;
  max-width: 280px;
}

.delivery__slide-header {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  max-width: 100%;
  padding: 20px 20px 0px 20px;
}

.delivery__slide-title {
  margin: 0px;
  padding: 0px;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  max-width: 150px;
  line-height: 100%;
}

.delivery__slide-body {
  margin: 0px;
  padding: 10px 20px 20px 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #FFFFFF;
}

.slider__wrapper {
  max-width: fit-content;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gallery__title {
  color: #252525;
  margin: 0px;
  padding-bottom: 30px;
  max-width: 330px;
  line-height: 80%;;
}

.gallery__slider {
  width: 100%;
}

.gallery__slide-bg {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.29) 72.4%, rgba(0, 0, 0, 0.76) 100%);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.gallery__slide {
  border-radius: 14px;
  max-width: 367px !important;
  height: 200px !important;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}

.gallery__slide-title {
  padding: 0px 20px 20px 20px;
  margin: 0px;
  color: #fff;
  z-index: 1;
  position: relative;
}

.whyus {
  margin-top: 193px;
}
.whyus__wrapper-of-wrapper {
  background-color: #0040E6;
  width: 100%;
}
.whyus__avito {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  min-height: 180px;
  background-color: #F9F9F9;
  position: relative;
}

.whyus__avito-blur {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: url(./assets/images/avito-bg-blur.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 0;
}

.whyus__avito-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  position: relative;
  z-index: 1;
}

.whyus__avito-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 272px;
  min-height: 70px;
  background: #00AAFF;
  border-radius: 73px;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.whyus__features {
  display: flex;
  flex-direction: row;
}

.whyus__features-image {
  position: relative;
  overflow: visible;
  display: flex;
  width: 40%;
}

.whyus__features-image-bg {
  background: url(./assets/images/boy-features-light.png);
  position: absolute;
  width: 289px;
  height: 331px;
  background-size: contain;
  background-position: left bottom;
  background-repeat: no-repeat;
  left: 0px;
  bottom: 0px;
  z-index: 0;
}

.whyus__features-image-human {
  background: url(./assets/images/boy-features.png);
  position: absolute;
  width: 557px;
  height: 557px;
  left: 0px;
  bottom: 0px;
  background-size: 557px 557px;
  background-repeat: no-repeat;
  background-position: bottom -29px left;
  overflow: visible;
}


.whyus__features-list {
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.whyus__features-list-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  margin: 0px;
}

.whyus__features-list-ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 834px;
}

.whyus__features-list-item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: calc((100%/2) - 40px);
  padding: 20px;
}

.whyus__features-list-item-body {
  display: flex;
  flex-direction: column;
  gap: 5px;
  h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
    margin: 0px;
    padding: 0px;
  }
  p {
    padding: 0px;
    margin: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: rgba(255, 255, 255, 0.66);
  }
}
.wemake {
  margin-top: 70px;
}
.wemake__title {
  color: #252525;
  margin: 0px;
  padding-bottom: 30px;
  max-width: 330px;
  line-height: 80%;
}

.wemake__showcase {
  margin: 0px;
  list-style: none;
  padding: 0px;
  border-radius: 30px;
  overflow: hidden;
  filter: drop-shadow(9px 12px 0px rgba(0, 64, 230, 0.17));
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.wemake__showcase li {
  width: calc((100%/5) - 60px);
  padding: 30px;
  background: linear-gradient(126deg, #0040E6 0%, #2763FF 97.93%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  .wemake__showcase-image {
    width: 45px;
    height: 55px;
    background: rgba(255, 255, 255, 0.22);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height .3s;
  }
  img {
    width: 80%;
    height: auto;
  }
  h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #fff;
    margin: 0px;
    padding: 0px;
  }
  
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: rgba(255, 255, 255, 0.66);
    max-width: 130px;
    margin: 0px;
    padding: 0px;
  }
  .wemake__button-wrapper {
    display: flex;
    overflow: hidden;
    height: 0px;
    transition: height .3s;
    .wemake__button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      overflow: hidden;
      outline: none;
      border: 2px solid rgba(255, 255, 255, 0.5);
      filter: drop-shadow(0px 4px 15px rgba(255, 255, 255, 0.25));
      border-radius: 7.5px;
      background: transparent;
      font-weight: 700;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0.05em;
      padding: 10px 0px;
      text-transform: uppercase;
      color: #FFFFFF;
      cursor: pointer;
      transition: border .3s;
    }
    .wemake__button:hover {
      border: 2px solid #fff;
    }
  }
}

.wemake__showcase li:hover {
  cursor: pointer;
  .wemake__showcase-image {
    height: 0px;
  }
  .wemake__button-wrapper {
    height: 40px;
  }
}

.howtoorder {
  margin-top: 45px;
  position: relative;
  .howtoorder__bg {
    background: url(./assets/images/phone.png);
    background-position: right bottom -32px;
    background-repeat: no-repeat;
    background-size: 429px 531px;
    position: absolute;
    right: -120px;
    bottom: -210px;
    width: 100%;
    height: 100%;
  }
}

.howtoorder__title {
  color: #252525;
  margin: 0px;
  max-width: 330px;
  line-height: 80%;
  padding-bottom: 30px;
}


.howtoorder__list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 30px;
  overflow: hidden;
  li {
    background: #0040E6;
    width: calc(100%/4);
    position: relative;
    z-index: 1;
    transition: background .3s;
  }
  li a {
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
  }
  li a:hover {
    opacity: .7;
  }
  li:nth-child(2n) {
    background: rgba(0, 64, 230, 0.8);
    backdrop-filter: blur(10px);
  }
  li:hover {
    cursor: pointer;
    background: #252525;
  }
  span {
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 64px;
    line-height: 93px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding: 0px;
    margin: 0px;
  }
  h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    padding: 0px;
    margin: 0px;
  }
  p {
    padding: 0px;
    margin: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.66);
  }
  .howtoorder__list-item-wrapper {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}